<div fxLayout="column" fxLayoutGap="16px">
    <mat-toolbar color="primary" class="p-0">
        <div fxFlex fxLayout="row">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center">
                DAML Access Token Generator
            </div>
        </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <mat-toolbar color="primary" class="p-0">
        <div fxFlex fxLayout="row">
            <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="end center">
                <a href="https://www.darkedges.com/?damltokengenerator"><img src="assets/logo.png" height="32px"
                        valign="middle">
                    &nbsp; DarkEdges</a> &nbsp;&copy; 2020
            </div>
        </div>
    </mat-toolbar>
</div>